# Dipendenze (MAI caricarle su GitHub)
/node_modules/

# Output di compilazione
/dist/
/.angular/

# File di log e temporanei
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/
.pnpm-debug.log*

# IDE e Editor (VS Code, WebStorm, ecc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File di sistema
.DS_Store
Thumbs.db

# Ambiente (se hai file .env con chiavi segrete)
.env